
body {
  height: 2000px;
}
.ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 90%;
}
.pacman{
  position: absolute;
  top: 0;
  right: -40px;
  margin-right: 0;
}
.ctn-pac {
  position: absolute;
  top: 0;
  min-width: 10%;
}

.pacman-top{
  background-color:yellow;
  height:50px;
  width:100px;
  border-radius:50px 50px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
  background-color:yellow;
  height:50px;
  width:100px;
  border-radius:0 0 50px 50px;
  animation: spin2 0.5s infinite linear;
}

.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}
.eat {
  width: 100%;
  height: 45px;
  background-repeat: round;
  background-image: url(dot.svg);
}

.masc {
  background:white;
  width: 100%;
  height: 100px;
  position:relative;
  text-align:center;
}

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}
